table {
    border: 5px solid black;
}

td:hover {
    background-color: gold;
    color: lightslategray;
}

tr, th {
    background-color: lightsteelblue;
    color:midnightblue
}

tr, td {
    background-color: moccasin;
    color:olive
}